body {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 5, 68);
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    margin-top: 80px;
}

.img-container {
    text-align: center;
}

.bg {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: rgb(243, 97, 0);
    font-size: 50px;
    text-align: center;
    margin-top: 0;
}

.count {
    font-size: 60px;
    color: rgb(217, 255, 0);
    text-align: center;
    margin-bottom: 0;
}

.text {
    font-size: 20px;
    color: rgb(217, 255, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    word-spacing: 60px;
}

#on {
    background-color: rgb(255, 0, 230);
    width: 60px;
    height: 30px;
    border-style: none;
    border-radius: 50%;
    color: rgb(255, 247, 0);
    font-weight: 900;
}

#on:hover {
    background-color: rgb(71, 255, 77);
}

#off {
    background-color: rgb(255, 0, 0);
    width: 60px;
    height: 30px;
    border-style: none;
    border-radius: 50%;
    color: rgb(242, 255, 0);
    font-weight: 900;
}

#off:hover {
    background-color: rgb(0, 19, 231);
}

#reset {
    background-color: rgb(251, 255, 0);
    width: 60px;
    height: 30px;
    border-style: none;
    border-radius: 50%;
    color: rgb(255, 0, 0);
    font-weight: 900;
}

#reset:hover {
    background-color: rgb(231, 0, 0);
    color: white;
}

@media only screen and (max-width: 600px) {
    .count {
        font-size: 30px;
    }
    .text {
        font-size: 12px;
        word-spacing: 25px;
    }
    h3 {
        font-size: 35px;
    }
}